.categorySelector {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: #333;
}
